.karangame {
    color: brown;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

* {
    border: solid;
}
.game {
    background-color: cadetblue;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.Triplegames{
    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}
.Doublegames{
    background-color: cornflowerblue;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-end;
}
.images{
    background-color: dimgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}